html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

section {
  height: 200px;
}

.container-header {
  padding: 20px 15px 20px;
}

.header-text {
  color: black;
  font-size: 50px;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

input {
  display: block;
  border: 2px solid #aaa;
  border-radius: 4px;
  outline: none;
  padding: 8px;
  font-size: 18px;
}

.search-form {
  display: flex;
  justify-content: center;
  padding: 8px;
  margin: auto;
  width: 400px;
  font-size: 18px;
}

button {
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  cursor: pointer;
}

.gallery {
  margin: 30px auto 20px;
  list-style: none;
  padding: 0;
  display: grid;

  grid-gap: 30px;
  max-width: 1700px;
  grid-template-columns: 1fr 1fr 1fr;
}

.card {
  box-shadow: 0 0 5px#aaa;
  overflow: hidden;
  margin: 15px;
  justify-content: center;
  border-radius: 5px;
}

.card > img {
  display: block;
  width: 100%;
  object-fit: cover;
  height: 320px;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.stats-item {
  margin-top: 16px;
  font-size: 12px;
  color: #363536;
  align-items: center;

  &:not(:first-child) {
    padding-left: 20px;
  }
}

.stats-item > i {
  vertical-align: middle;
}
